<!--<div class="addFriendContainer" > -->
 <!--   <div ng-controller="guestAddFriendController"> -->
      <!--  <h1 id="headline">Friend Finder</h1> -->
<div class="medium-8 large-8 columns form">
    <!--    <div class="block"> -->
            <input type="text" ng-model="query.name" class="search" placeholder="Pronađi prijatelja..." />
            <button class="button2" ng-click="reverse()">Obrni redosled pretrage</button>

            <h6><br>Vaš prijatelj nema nalog? Pozovite ga da se pridruži!</h6>
            <span>
                <input type="text"placeholder="neko@primer.com" ng-model="friendEmail" />
                <p><input type="submit" class="button2" ng-click="inviteRegister()"
                          ng-disabled="registerForm.$invalid" value="Pošaljite zahtev"></p>
            </span>
            <table border="1">
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th></th>
                </tr>
                <tr ng-repeat="friend in friends | filter: query | orderBy: orderList" >
                    <td><span>{{friend.name}}</span></td>
                    <td>{{friend.surname}}</td>
                    <td>
                        <span ng-if="!friend.friend"><button class="button2" ng-click="addFriend(friend.id)">Dodaj prijatelja</button></span>
                        <span ng-if="friend.friend">
                            <button class="button1" ng-click="removeFriend(friend.id)">Obriši prijatelja</button>
                            <button class="button2" ng-click="inviteOnLunch(friend.id)">Pozovi na rucak</button>

                        </span>
                    </td>
                </tr>
            </table>
            </div>
        </div>
    </div>
</div>

<div class="small reveal" id="newInvitation" data-reveal>

    <form novalidate name="inviteFriendOnLunch">
        <h4 class="text-center">Pozovi prijatelja da ti se pridruži</h4>
        <label>Email
            <input type="text" placeholder="neko@primer.com" required ng-model="friend.email">
        </label>
        <label>Restoran
            <input type="text" placeholder="Ime restorana" required >
        </label>
        <label>Datum
        <input type="date" id="myDate" required >
    </label>
        <label>Vreme
            <input type="text" placeholder="Vreme" required>
        </label>

        <div class="button-group float-right">
            <input type="submit" class="button" ng-click="sendInvitation()" ng-disabled="inviteFriendOnLunch.$invalid" value="Pozovi prijatelja">
            <a class="button alert" ng-click="cancelInvitation()">Odustani</a>
        </div>

    </form>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>