<div class="medium-9 columns form " >

    <form novalidate name="newReservationForm">
        <div class="row column ">
            <h4 class="text-center">Napravi rezervaciju</h4>
         <!--   <label>
                <input type="image" src="../img/150.png" alt="Submit">
            </label> -->
            <label>Restoran
                <input type="text" required ng-model="selectedRestaurant.name" required>
            </label>
            <div style="overflow-y:scroll;">
            <table border="1" >
                <tr>
                    <th>Naziv</th>
                    <th>Opis</th>
                    <th>Adresa</th>
                </tr>
                <tr ng-repeat="restaurant in restaurants | filter: query | orderBy: orderList "  ng-class="{'selectedRestaurant':$index == selectedRow}" ng-click="setClickedRow($index, restaurant)" style="cursor: pointer;" >
                    <td>{{restaurant.name}}</td>
                    <td>{{restaurant.description}}</td>
                    <td>{{restaurant.address}}</td>
                </tr>
            </table>
            </div>

            <label>Datum
                <input type="date" required ng-model="asd.reservation.date" ng-change="validateDate(asd.reservation)" >
            </label>
            <label>Vreme dolaska
                <input type="text" placeholder="15:00" ng-model="asd.reservation.start_hour" required ng-change="validateTime(asd.reservation)" >
            </label>
            <label>Vreme odlaska
                <input type="text" placeholder="17:00"ng-model="asd.reservation.end_hour" required ng-change="validateTime(asd.reservation)">
            </label>
        </div>
    </form>
</div>
<div class="medium-9 columns form float-left">

    <form novalidate name="newReservationForm">
        <div>
            <h4 class="text-center">Izaberite sto</h4>
            <canvas id="restaurant_canvas" class="float-center" width="765" height="600">
            </canvas>
            <div class="button-group float-right">
                <button class="button success" ng-click="createNewReservation(asd.reservation)">Završi rezervaciju</button>
                <button class="button alert" ng-click="goToSelectMenuItem(asd.reservation)">Sledeći korak</button>
            </div>
        </div>
    </form>
</div>
