<div class="cont"></div>
<div>
    <ul class="top_nav">
        <li class="tnli"><a ng-class="{active: current==0}" ng-click="home()">Početna</a></li>
        <li class="tnli"><a ng-class="{active: current==1}" ng-click="addFriend()">Dodaj prijatelja</a></li>
        <li class="tnli"><a ng-class="{active: current==2}" ng-click="showRestaurants()">Pronađi restoran</a></li>
        <li class="tnli"><a ng-class="{active: current==3}" ng-click="addReservation()">Napravi rezervaciju</a></li>
    </ul>
</div>

<div ui-view></div>