
<div class="medium-8 large-8 columns form" style="width: 56%; height: 40%;" >

    <form novalidate name="inviteFriendOnLunch">
        <div class="row column ">
            <h4 class="text-center">Neka te jelo saceka na stolu!</h4>

            <p>Pronađi jelo
            </p>
            <input type="text" ng-model="query.name" class="search" placeholder="Pronađi stavku menija..." />

            <div style="overflow-y:scroll;">

                <div class="row column small-up-2 medium-up-3 large-up-6 form" ng-repeat="ar in articleTypes">
                    <h4>{{ar.name}}</h4>
                    <div ng-repeat="mi in menuItems | filter:query" class="column" ng-if="mi.article.articleType.name == ar.name">
                        <img class="thumbnail" src="http://placehold.it/300x400">
                        <h5>{{mi.article.name}}</h5>
                        <p>{{mi.price}}RSD</p>
                        <a class="button small expanded hollow" ng-click="showMenuItem(mi)">Poruči</a>
                    </div>

                </div>

                <div class="small reveal" id="newMenuItem" data-reveal>

                    <form novalidate name="tableForm">
                        <h4 class="text-center">Dodaj novu stavku menija</h4>
                        <label>Naziv artikla
                            <input type="text" placeholder="meso..." required ng-model="menuItem.articleName">
                        </label>
                        <label>Cena
                            <input type="number" placeholder="999.99$" required ng-model="menuItem.price">
                        </label>

                        <label>Opis artikla
                            <textarea type="text" placeholder="jako lepo..." required ng-model="menuItem.articleDescription"></textarea>
                        </label>

                        <label>Tip artikla
                            <select required ng-model="menuItem.articleTypeId">
                                <option ng-repeat="at in articleTypes" value="{{at.id}}" >{{at.name}}</option>
                            </select>
                        </label>

                        <div class="button-group float-right">
                            <input type="submit" class="button" ng-click="addMenuItem()" ng-disabled="tableForm.$invalid" value="Sačuvaj">
                            <a class="button alert" ng-click="cancel()">Odustani</a>
                        </div>

                    </form>

                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="medium-8 large-8 columns form" style="width: 42%; height: 100%;">

    <form novalidate name="inviteFriendOnLunch2">
        <div style="overflow-y:scroll;" >
            <h4 class="text-center">Odabrane stavke menija</h4>
            <table border="1" >
                <tr>
                    <th>Jelo</th>
                </tr>
                <tr ng-repeat=" mi in menuItems | filter: query | orderBy: orderList"  ng-class="{'selectedRestaurant':$index == selectedRow}" ng-click="setClickedRow($index, mi)" >
                    <td>{{mi.name}}</td>
                </tr>
            </table>
             <span style="float: right">
                 <button class="button1 " ng-click="goToAddNewReservation(asd.reservation)">Predhodni korak</button>
                <button class="button3 " ng-click="createNewReservation()">Završi rezervaciju</button>
                <button class="button1 " ng-click="goToInviteFriend()">Sledeći korak</button>
            </span>

        </div>
    </form>
</div>


<div class="small reveal" id="newShowMenuItem" data-reveal style="width: 50%; height: 80%;">
    <div class="column" >
        <form novalidate name="showMenuItemInfo">

            <label>
             <span style="position: center;">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="image" src="../img/caffe.jpg" alt="Submit" >
            </span>
            </label>
            <h4 class="text-center">Informacije o jelu</h4>
            <label>Naziv
                <input type="text" placeholder="" readonly required ng-model="mi.article.name">
            </label>
            <label>Opis
                <input type="text" placeholder="" readonly required ng-model="mi.article.description" >
            </label>
            <label>Cena
                <input type="text" placeholder="" readonly required ng-model="mi.price">
            </label>
            <h4 class="text-center">Ocene i recenzije</h4>
            <br>
            <label>Ocena:
                &nbsp;&nbsp;&nbsp;<input-stars ng-model="reservation.grade.meal_grade" max="5" readonly></input-stars>
            </label>
            <label>Komentari:
                <input type="text" id="" required readonly>
            </label>
        </form>


    </div>

    <div>

        <div class="button-group float-right">
            <a class="button alert" ng-click="cancel()">Odustani</a> </div>

    </div>
    <div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>