<div class="medium-8 large-8 columns form">
    <input type="text" ng-model="query.name" class="search" placeholder="Pronađi restoran..." />
    <button class="button2" ng-click="reverse()">Obrni redosled pretrage</button>
    <table border="1">
        <tr>
            <th>Naziv</th>
            <th>Opis</th>
            <th>Adresa</th>
            <th></th>
        </tr>
        <tr ng-repeat="restaurant in restaurants | filter: query | orderBy: orderList " >
            <td>{{restaurant.name}}</td>
            <td>{{restaurant.description}}</td>
            <td>{{restaurant.address}}</td>
            <td>
                <button class="button2" ng-click="showRestaurant(restaurant)">Detaljnije</button>
                <button class="button3" ng-click="gotToReservation(restaurant)">Rezerviši</button>
            </td>

        </tr>
    </table>
</div>

<div class="small reveal" id="newShowRestaurant" data-reveal style="width: 50%; height: 80%;">
    <div class="column" >
    <form novalidate name="showRestaurantInfo">

        <label>
             <span style="position: center;">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="image" src="../img/restaurantM.jpg" alt="Submit" >
            </span>
        </label>
        <h4 class="text-center">Informacije o restoranu</h4>
        <label>Naziv
            <input type="text" placeholder="" readonly required ng-model="restaurant.name">
        </label>
        <label>Opis
            <input type="text" placeholder="" readonly required ng-model="restaurant.description" >
        </label>
        <label>PIB
        <input type="text" placeholder="" readonly required ng-model="restaurant.pib">
        </label>
        <label>Broj telefona
        <input type="text" placeholder="" readonly required ng-model="restaurant.phoneNumber">
        </label>
        <label>Adresa
            <input type="text" placeholder="" readonly required ng-model="restaurant.address">
        </label>
        <label>Email
            <input type="text" placeholder="" readonly required ng-model="restaurant.email">
        </label>
        <h4 class="text-center">Ocene i recenzije</h4>
        <br>
        <label>Hrana:
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input-stars ng-model="restaurant.finalGradeMeal" max="5" readonly></input-stars>
        </label>
        <label>Komentari:
            <div style="overflow-y:scroll;">
                <table border="1">

                    <tr ng-repeat="grade in restaurant.restaurantGrades" >
                        <td>{{grade.meal_comment}}</td>
                    </tr>
                </table>
            </div>
        </label>
        <label>Usluga:
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input-stars ng-model="restaurant.finalGradeWaiter" max="5" readonly></input-stars>
        </label>
        <label>Komentari:
            <div style="overflow-y:scroll;">
                <table border="1">

                    <tr ng-repeat="grade in restaurant.restaurantGrades" >
                        <td>{{grade.waiter_comment}}</td>
                    </tr>
                </table>
            </div>
        </label>
        <label>Atmosfera:
            &nbsp;&nbsp;&nbsp;<input-stars ng-model="restaurant.finalGrade" max="5" readonly></input-stars>
        </label>
        <label>Komentari:
            <div style="overflow-y:scroll;">
            <table border="1">

                <tr ng-repeat="grade in restaurant.restaurantGrades" >
                    <td>{{grade.atmosphere_comment}}</td>
                </tr>
            </table>
            </div>
            </label>
        </form>


    </div>

    <div>

        <div class="button-group float-right">
            <a class="button alert" ng-click="cancel()">Odustani</a> </div>

        </div>
    <div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
        </div>
</div>