<div class="outer background-image">
    <div class="middle">
        <div class="inner">
            <div class="row">
                <div class="medium-6 medium-centered large-4 large-centered columns log-in-form">

                    <form novalidate name="loginForm">
                        <div class="row column">
                            <h4 class="text-center">Prijavite se na sistem</h4>
                            <label>Email
                                <input type="text" placeholder="neko@primer.com" required ng-model="user.email">
                            </label>
                            <label>Lozinka
                                <input type="password" placeholder="Lozinka" required ng-model="user.password">
                            </label>
                            <p><input type="submit" class="button expanded" ng-click="login()" ng-disabled="loginForm.$invalid" value="Log in"></p>
                            <p class="text-center">Nemaš nalog?<a ng-click="toRegister()"> Registruj se!</a></p>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>