<div class="outer background-image">
    <div class="middle">
        <div class="inner">
            <div class="row">
                <div class="medium-6 medium-centered large-4 large-centered columns register-form">

                    <form novalidate name="registerForm">
                        <div class="row column ">
                            <h4 class="text-center">Napravite nalog</h4>
                            <label>Email
                                <input type="text" placeholder="primer@primer.com" required ng-model="user.email">
                            </label>
                            <label>Lozinka
                                <input type="password" required placeholder="**********" ng-model="user.password">
                            </label>
                            <label>Ponovite lozinku
                                <input type="password" placeholder="**********" required>
                            </label>
                            <label>Ime
                                <input type="text" placeholder="Petar" required ng-model="user.name">
                            </label>
                            <label>Prezime
                                <input type="text" placeholder="Petrović" required ng-model="user.surname">
                            </label>
                            <label>Datum rođenja
                                <input type="date" id="myDate" required ng-model="user.birthDate" >
                            </label>
                            <label>Telefon
                                <input type="text" placeholder="123456789" required ng-model="user.phoneNumber">
                            </label>
                            <p><input type="submit" class="button expanded" ng-click="register()"
                                  ng-disabled="registerForm.$invalid" value="Registrujte se"></p>
                            <p class="text-center">Ve? imate nalog?<a ng-click="toLogin()"> Prijavite se!</a></p>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>