<div class="medium-5 columns form " id="allListsForm">
    <h3>Ponude</h3>
    <select ng-model="currentStatus" ng-options="s for s in bidStatus">
    </select>

    <div ng-repeat="b in bids">
        <a ng-click="previewBid(b)" ng-if="currentStatus == b.status"><b>Id liste namirnica:</b> {{b.auction.id}} <b>Restoran:</b> {{b.auction.restaurant.name}} </a>

    </div>
</div>

<div class="medium-7  columns form " id="NewListForm">
    <h3>Lista stavki ponude</h3>
    <hr>
    <div>
        <h4>Informacija o ponudi</h4>
        <b>Restoran: </b>{{selectedBid.auction.restaurant.name}}<br>
        <b>Status: </b>{{selectedBid.status}}<br>
        <div style="float: left">
            <b >Datum:</b>
            <input type="text" ng-model="selectedBid.timestamp" readonly>
        </div>
    </div>
    <hr>
    <div>
        <h4>Stavke</h4>
        <table border="1">
            <tr>
                <th>rbr.</th>
                <th>Naziv stavke</th>
                <th>Količina</th>
                <th>Tip <!--<button class="button small">dodaj tip</button>--></th>
                <th>Merna jedinica <!--<button class="button small">dodaj m.j.</button>--></th>
                <th>Cena</th>
                <th></th>
            </tr>
            <tr ng-repeat="i in selectedAuctionItems">
                <td>{{$index+1}}</td>
                <td>{{i.name}}</td>
                <td>{{i.quantity}}</td>
                <td>{{i.auctionItemType.name}}</td>
                <td>{{i.auctionItemUnit.name}}</td>
                <td>{{getBidItemPrice(i.id)}}</td>
                <td><a ng-click="details(i.id)")>detalji</a></td>
            </tr>
        </table>
    </div>
    <div class="button-group float-right">
        <input type="submit" class="button" ng-click="newBid(selectedList)" value="Licitiraj" ng-if="selectedList.items.length">
    </div>
</div>




<div class="small reveal" id="bidItemDetails" data-reveal>
    <h3>Ponuda za stavku: <i>{{selectedListItem.name}}</i></h3>
    <hr>
    <div>
        <b>Ime: </b><input readonly ng-model="selectedBidItem.name" required type="text" ><br>
        <b>Količina: </b><input readonly placeholder="4.0" ng-model="selectedBidItem.quantity" required type="text" pattern="\d+(\.\d+)?$" ><br>
        <b>Merna jedinica: </b><input readonly ng-model="selectedBidItem.auctionItemUnit.name" type="text"><br>
        <b>Cena: ({{selectedBid.currency}})</b><input readonly ng-model="selectedBidItem.price" type="text" >
    </div>
</div>

