<div class="medium-7 columns form " id="allListsForm">
    <form id="bidForm">
        <h3>Lista namirnica</h3>
        <hr>
        <div>
            <h4>Informacija o nabavci</h4>
            <b>Restoran: </b>{{selectedList.restaurant.name}}<br>
            <b>Status: </b>{{selectedList.status}}<br>
            <b>Status ponude: </b>{{bid.status}}<br>
            <b>Ponuđač: </b>{{user.name}} {{user.surname}}<br>


            <div>
                <div style="float: left">
                    <b >Važi od datuma:</b>
                    <input type="text" ng-model="selectedList.from_date" readonly>
                </div>
                <div style="float: left">
                    <b>Važi do datuma:</b>
                    <input ng-model="selectedList.to_date" type="text" readonly>
                </div>
            </div>

        </div>
        <hr>
        <div>
            <div style="float: left">
                <b >Ukupna cena:</b>
                <input ng-readonly="true" ng-model="bid.price" required type="text">
            </div>
            <div style="float: left">
                <b>Valuta:</b>
                <input ng-readonly="checkSelectedList()" ng-model="bid.currency" required type="text">
            </div>
        </div>
        <hr>
        <div>
            <h4>Stavke</h4>
            <table border="1">
                <tr>
                    <th>rbr.</th>
                    <th>Naziv stavke</th>
                    <th>Količina</th>
                    <th>Tip <!--<button class="button small">dodaj tip</button>--></th>
                    <th>Merna jedinica <!--<button class="button small">dodaj m.j.</button>--></th>
                    <th ng-if="selectedList.status == status[0]">Ponude</th>
                </tr>
                <tr ng-repeat="li in selectedList.items">
                    <td>{{$index+1}}</td>
                    <td>{{li.name}}</td>
                    <td>{{li.quantity}}</td>
                    <td>{{li.auctionItemType.name}}</td>
                    <td>{{li.auctionItemUnit.name}}</td>
                    <td ng-if="selectedList.status == status[0]" ng-click="setNewBidItem($index)"><a>napravi ponudu</a></td>
                </tr>
            </table>
        </div>
        <div class="button-group float-right">
            <input type="submit" class="button" ng-if="bid.status == 'u pripremi'" value="Aktiviraj" ng-click="activateBid()">
            <input type="submit" class="button" ng-disabled="bidForm.$invalid" ng-click="addNewAuction()" value="Licitiraj" ng-if="selectedList.items.length">
        </div>
    </form>
</div>

<div class="medium-5  columns form " id="NewBidDiv">
    <form novalidate name="newBidItemForm">
        <h3>Ponuda za stavku: <i>{{selectedListItem.name}}</i></h3>
        <hr>
        <div>
            <b>Ime: </b><input ng-model="bidItem.name" required type="text" ng-readonly="checkSelectedListItem()"><br>
            <b>Količina: </b><input placeholder="4.0" ng-model="bidItem.quantity" required type="text" pattern="\d+(\.\d+)?$" ng-readonly="checkSelectedListItem()"><br>
            <b>Merna jedinica: </b>
            <div class="input-group" ng-readonly="checkSelectedListItem()">
                <select required ng-model="bidItem.unit" required ng-options="unit.name for unit in aiUnits" ng-readonly="checkSelectedListItem()">
                </select>
                <br>
                <input class="input-group-field" placeholder="Naziv nove merne jedinice" type="text" ng-model="newUnit.name">
                <a class="input-group-button button" ng-click="addUnit()">Dodaj mernu jedinicu</a>
            </div>
            <b>Cena: ({{bid.currency}})</b><input placeholder="4.0" ng-model="bidItem.price" required type="text" pattern="\d+(\.\d+)?$" ng-readonly="checkSelectedListItem()">
        </div>

        <div class="button-group float-right">
            <input type="submit" class="button" ng-click="addBidItem()" value="Potvrdi" ng-disabled="newBidItemForm.$invalid || unitNotSet()">
        </div>
    </form>
</div>