<div class="columns small-12 medium-6 form">
    <div class="button-group">
        <button class="button" ng-click="addRoundTable()">Dodaj kružni sto</button>
        <button class="button" ng-click="addRectTable()">Dodaj pravougaoni sto</button>

        <button class="button alert float-right" ng-click="deleteTable()">Obriši</button>
    </div>
</div>
<div class="columns small-12 medium-6 form">
    <div class="button-group">
        <a class="button" ng-click="saveTables()">Sačuvaj</a>
        <a class="button alert" ng-click="refreshTables()">Otkaži</a>
    </div>
</div>
<div id="canvas_container" class="small-12 medium-8 columns form">

    <canvas id="restaurant_canvas" width="765" height="600">
    </canvas>
</div>

<div class="small-12 medium-4 columns form">
    <div class="area_table">
        <table>
            <tr ng-repeat="area in areas track by $index">
                <td>{{area.name}}</td>
                <td width="30%" style="background: {{area.color}};">&nbsp;</td>
            </tr>
        </table>
    </div>

    <div class="input-group">
        <select ng-model="area.color" ng-options="color for color in colors">

        </select>
        <br>
        <input class="input-group-field" placeholder="Naziv reona" type="text" ng-model="area.name">
        <a class="input-group-button button" ng-click="addArea()">Dodaj reon</a>
    </div>
</div>

<div class="small-12 medium-4 columns form">
    <form>
        <h4 class="text-center">Izmeni sto</h4>
        <label>Naziv
            <input type="text" placeholder="stočić" ng-model="table.name">
        </label>
        <label>Kapacitet
            <input type="number" placeholder="4" ng-model="table.capacity">
        </label>

        <label>Reon
            <select id="area_select" ng-model="table.area" ng-options="area.name for area in areas track by area.id">
            </select>
        </label>
    </form>

</div>

<div class="small reveal" id="newTable" data-reveal>

    <form novalidate name="tableForm">
        <h4 class="text-center">Dodaj novi sto</h4>
        <label>Naziv
            <input type="text" placeholder="stočić" required ng-model="table.name">
        </label>
        <label>Kapacitet
            <input type="number" placeholder="4" required ng-model="table.capacity">
        </label>

        <label>Reon
            <select required ng-model="table.area">
                <option ng-repeat="area in areas track by $index" value="{{area.id}}">{{area.name}}</option>
            </select>
        </label>

        <div class="button-group float-right">
            <input type="submit" class="button" ng-click="addTable()" ng-disabled="tableForm.$invalid" value="Sačuvaj">
            <a class="button alert" ng-click="cancelTable()">Odustani</a>
        </div>

    </form>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>