
<div class="medium-8 large-8 columns form " id="calendarForm">
<!-- medium-8 large-8 columns form -->
    <h4 class="text-center">Postavi smenu za radnika</h4>

    <div id='wrap'>
        <div id='calendar'></div>

        <div style='clear:both'></div>

    </div>

</div>

<div class="small-3 columns form" id="addShift">

    <div>
        <h4>Radnici:</h4>
        <input type="text" ng-model="query.name" class="search" placeholder="Pronađi radnika..." />
        <button class="button2" ng-click="reverse()">Obrni redosled pretrage</button>

        <div ng-repeat="worker in workers | filter: query | orderBy: orderList ">
            <a ng-click="addShiftDialog(worker)"><span>{{worker.name}} {{worker.surname}}</span></a>
        </div>

    </div>

</div>

<div class="small reveal" id="newShift" data-reveal>

    <form novalidate name="newShiftForm">
        <h4 class="text-center">Dodaj novu smenu radniku: </h4>
        <label>Važenje smene
            od: <input type="date" required ng-model="shift.startDate">
            do: <input type="date" required ng-model="shift.endDate">
        </label>
        <label>
            Trajanje smene
            od (0-24h): <input type="text" placeholder="00:00" required pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" ng-model="shift.startHour">
            do (0-24h): <input type="text" placeholder="00:00" required pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" ng-model="shift.endHour">
        </label>

        <div ng-if="selectedWorker.waiter">
            Reoni:
            <div ng-repeat="a in areas">
                {{a.name}} <input type="checkbox" ng-model="selectedAreas[$index]">
            </div>
        </div>

        <div class="button-group float-right">
            <input type="submit" class="button" ng-click="addShift()" ng-disabled="newShiftForm.$invalid" value="Dodaj">
            <a class="button alert" ng-click="cancel()">Odustani</a>
        </div>

    </form>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>