
<div class="medium-8 large-8 columns form" id="calendarForm">

    <h4 class="text-center">Postavi smenu za radnika</h4>

    <div id='calendar'></div>

</div>

<div class="small-3 columns form" id="addShift">

    <input type="text" ng-model="query.name" class="search" placeholder="Pronađi radnika..." />
    <button class="button2" ng-click="reverse()">Obrni redosled pretrage</button>
    <table border="1">
        <tr>
            <th>Ime</th>
            <th>Prezime</th>

            <th>Postavi smenu</th>
        </tr>
        <tr ng-repeat="worker in workers | filter: query | orderBy: orderList " >
            <td><span>{{worker.name}}</span></td>
            <td>{{worker.surname}}</td>

            <td> <button ng-click="setShift()" class="button round">smena</button></td>
        </tr>
    </table>
</div>