<table border="1">
    <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th></th>
    </tr>
    <tr ng-repeat="friend in friends | filter: query | orderBy: orderList" >
        <td><span>{{friend.name}}</span></td>
        <td>{{friend.surname}}</td>
        <td>
            <span ng-if="!friend.friend"><button class="button2" ng-click="addFriend(friend.id)">Dodaj prijatelja</button></span>
                        <span ng-if="friend.friend">
                            <button class="button1" ng-click="removeFriend(friend.id)">Obriši prijatelja</button>
                            <button class="button2" ng-click="inviteOnLunch(friend.id)">Pozovi na rucak</button>

                        </span>
        </td>
    </tr>
</table>