.button1 {
    background:  #ea5e4f;
    color: white;
    padding: 0.71rem;

}

.button2 {
    background:  #2199e8;
    color: white;
    padding: 0.71rem;
}

.button3 {
    background: #86e884;
    color: white;
    padding: 0.71rem;
}

.button1:hover {
    background: #ea5e4f;
}

.selectedRestaurant {
    background-color: #cacaca!important;
    color:black !important;
    font-weight:bold !important;
}

.block {
    background: white;
    padding: 1em;
    border-radius: 5px;
    box-shadow: white;
    margin: 0 auto;
    overflow: scroll;
}

input[type="checkbox"] {
    margin: 1em 0.5em;
}


ul.addFriendUL.title li.no-hover:hover {
    background: transparent;
    cursor: auto;
}

ul.addFriendUL {
    font-size: 0.8em;
}
ul.addFriendUL li {
    padding: 1em;
    cursor: pointer;
}
ul.addFriendUL li span {
    float: right;
}
ul.addFriendUL li:hover {
    background: #ea5e4f;
    color: white;
}

