body {
    margin: 0;
}

.active {
    background-color: #2199e8;
    color: white;
}

.cancel {
    margin-top: 0;
    background: #ea5e4f;
}

.form {
    border: 1px solid #cacaca;
    padding: 1rem;
    background-color: white;
    border-radius: 3px;
}

.log-in-form {
    border: 1px solid #cacaca;
    padding: 1rem;
    background-color: white;
    border-radius: 3px;
}

.register-form {
    border: 1px solid #cacaca;
    padding: 1rem;
    background-color: white;
    border-radius: 3px;
    height: 550px;
    overflow: auto;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

.background-image {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("../img/background.jpg");
    background-size: cover;
    overflow: auto;
}

#content {
    overflow: auto;

}

.row {
    overflow: auto;
}

.area_table {
    max-height: 227px;
    overflow-y: scroll;
}

.button {
    margin: 0;
}