body {margin:0;}

ul.top_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li.tnli {
    float: left;
}

li.tnli a {
    display: block;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: "Open Sans",Helvetica, cursive, sans-serif;
}

li.tnli a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(255, 130, 71);
}
